/** Navigation Shell Styles */
/*
 * Context Area Status Bar
 */

.masterHeadLayoutButton, .masterHeadLayoutButtonOver, .masterHeadLayoutButtonDown, .masterHeadLayoutButtonDisabled {
	color: white;
	text-align: center;
	font-size: 30px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #27a8e3
		), color-stop(1, #2194c9));
	background: -moz-linear-gradient(top, #27a8e3 5%, #2194c9 100%);
	background: -webkit-linear-gradient(top, #27a8e3 5%, #2194c9 100%);
	background: -o-linear-gradient(top, #27a8e3 5%, #2194c9 100%);
	background: -ms-linear-gradient(top, #27a8e3 5%, #2194c9 100%);
	background: linear-gradient(to bottom, #27a8e3 5%, #2194c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27a8e3',
		endColorstr='#2194c9', GradientType=0);
	background-color: #27a8e3;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	border: 1px solid white;
	cursor: pointer;
}

.masterHeadLayoutButtonOver {
	color: #c9dbf2;
	border: 3px solid #c9dbf2;
}

.masterHeadLayoutButtonDown {
	color: white;
	font-size: 28px;
}

.dashBoardViewImages-Dev {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	background-color: #22b14c;
}

.dashBoardViewImages-Test {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	background-color: #cccf3f;
}

.dashBoardViewImages {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	background-color: #3376ad; 
}

.cnRCCode{
	color:#000; font-size:8px;
}
.cnAlert{
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.cnAlert-info{
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.cnAlert-success{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.cnAlert-error{
	color: #D8000C;
	background-color: #FFBABA;
	border-color: #eed3d7;
}

.redGridCell,.redGridCellDark,.redGridCellSelectedDark,
.orangeGridCell,.orangeGridCellDark,.orangeGridCellSelectedDark,
.blueGridCell,.blueGridCellDark,.blueGridCellSelectedDark,
.greenGridCell,.greenGridCellDark,.greenGridCellSelectedDark,
.grayGridCell,.grayGridCellDark,.grayGridCellSelectedDark,
.cnNONE{
  border: 1px solid #ccb;
  background: #eed;
  padding: 4px;
  white-space: normal;
  color:black;
}
.redGridCell,.redGridCellDark,.redGridCellSelectedDark{
  background: #9A1616;
}
.orangeGridCell,.orangeGridCellDark,.orangeGridCellSelectedDark{
  background: #FA6800;
}
.blueGridCell,.blueGridCellDark,.blueGridCellSelectedDark{
  background: #4390DF;
}
.greenGridCell,.greenGridCellDark,.greenGridCellSelectedDark{
  background: #0BAF3C;
}
.grayGridCell,.grayGridCellDark,.grayGridCellSelectedDark{
  background: #808080;
}

.cnPlatformTitle{
	color: white;
	font-size: 14px;
}

.cnAlert-warn{
	
}

.cnForm{
	
}

 
.cnGridToolbar-Dev{
	background-color: #22b14c; 
	margin-right:1px;
}
.cnFormToolbar-Dev{
	background-color: #22b14c; 
	margin-right:1px;
	color:#FFF; font-size:14px;
}
.cnGridToolbar-Test{
	background-color: #cccf3f; 
	margin-right:1px;
}
.cnFormToolbar-Test{
	background-color: #cccf3f; 
	margin-right:1px;
	color:#FFF; font-size:14px;
}
.cnGridToolbar{
	background-color: #3376ad; 
	margin-right:1px;
}
.cnFormToolbar{
	background-color: #3376ad; 
	margin-right:1px;
	color:#FFF; font-size:14px;
}
.cnScreenContanerHeader{
	background: url(images/header-bg.jpg) 0 0 repeat; 
	margin-right:1px;
	color:#FFF; 
	font-size:22px;
}
.cnScreenContainerHeaderTitle{
	color: #4d4d4d;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 22px;
	font-weight: bold;
}
.cnScreen{
	background-color:white;
	margin-right:5px;
}
.cnGridTitle{
	color: white;
	cursor: default;
	font-size: 14px;
	font-weight: bold;
	padding-left: 3px;
}

.cnFormToolbarLabel{
	color: white;
	cursor: default;
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
}
.btnUserName,
.btnUserNameOver,
.btnUserNameFocusedDown,
.btnUserNameFocusedOver,
.btnUserNameDisabled,
.btnUserNameSelectedDisabled
{                
		background-color:transparent;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif ;
		text-decoration:none;
        color: white;
		font-size: 14px;
		font-weight: normal;
		text-transform: uppercase;
		padding-right: 5px;
		text-align: left;
		/*border-bottom: 1px solid #999999;*/
		/*text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;*/
        
    }
    .btnUserNameOver {        
       color:#BABABA;
    }

.crm-Masthead {
	background-color: #3376ad;
}

.crm-Masthead-Dev {
	background-color: #22b14c;
}

.crm-Masthead-Test {
	background-color: #cccf3f;
}

.crm-Masthead-Logo {
	height: 100%;
	padding-top: 4px;
	padding-left: 8px;
}

.crm-MastHead-Name {
	color: white;
	font-weight: normal;
	letter-spacing: 2px;
	/*
	text-align: right;
   	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
   	font: 50px 'Museo700';
	*/
}

.crm-MastHead-SignedInUser {
	color: white;
	font-size: 15px;
	font-weight: normal;
	transform: rotate(-90deg);
  /* Safari */
  	-webkit-transform: rotate(-90deg);
  /* Firefox */
  	-moz-transform: rotate(-90deg);
  /* IE */
  	-ms-transform: rotate(-90deg);
  /* Opera */
  	-o-transform: rotate(-90deg);
  /* Internet Explorer */
  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.crm-ContextArea3 {
	background-image: url('images3/context_area.png');
	background-repeat: repeat-x;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}

.crm-ContextArea-Header-Label,crm-ContextArea-Header-LabelSelected {
	color: #15428b;
	cursor: default;
	font-size: 14px;
	font-weight: bold;
	padding-left: 8px;
}

.crm-StatusBar {
	background-color: #f0f0f0;
	border-bottom: 1px solid #999999;
	font-size: 11px;
	color: black;
	cursor: pointer;
	cursor: default;
}

.crm-StatusBar-Label {
	font-size: 11px;
	color: black;
	cursor: pointer;
	cursor: default;
	padding-left: 8px;
	padding-right: 8px;
}

/*
 * Context Area Jump Bar
 */
.crm-JumpBar {
	border-bottom: 1px solid #999999;
	background-color: #f0f0f0;
	font-size: 11px;
	color: black;
	cursor: pointer;
	cursor: default;
	/*
  padding-left: 4px;  	
  padding-right: 4px; 
  */
}

.crm-JumpBar-Label {
	font-size: 11px;
	color: black;
	cursor: pointer;
	cursor: default;
}

.crm-JumpBar-LabelOver,.crm-JumpBar-LabelDown {
	font-weight: bold;
}

.crm-NavigationPane-Header {
	border-top: 1px solid #7598c7;
	background-image: url('images/navigation_pane_header.png');
	background-repeat: repeat-x;
}

.crm-NavigationPane-Header-Label {
	border-right: 1px solid #7598c7;
	color: #15428b;
	cursor: default;
	font-size: 14px;
	font-weight: bold;
	padding-left: 8px;
}

body,table td,select {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.crm-ApplicationMenu {
	background-image: url('images/application_menu.png');
	background-repeat: repeat-x;
	padding-top: 4px;
	padding-left: 4px;
}

/** Add css rules here for your application. */
.exampleSeparator2 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 4px 0px 4px;
	text-align: left;
}

.exampleSeparator {
	color: #15428b;
	cursor: default;
	font-size: 14px;
	font-weight: bold;
	padding-left: 3px;
}
.menuTitleStyle,.menuTitleStyleDisabled{
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}

.exampleCenter {
	border-bottom: 2px solid gray;
	background-color: white;
	color: black;
	font-weight: bold;
	text-align: center;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}



.sgwtTitle,.sgwtTitleSelected {
	font-family: Arial, Verdana, tahoma, serif;
	color: #454545;
	font-size: 18px;
}

.mobileTextBox,.mobileTextBoxSelected,.mobileTextBoxFocused {
	font-size: 40px;
}

/* Buttons*/
.cssButton {
	padding: 2px;
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	background-color: #CCCCCC;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	filter:
		"progid:dximagetransform.microsoft.gradient(gradientType=0, 

startColorStr=#AAAAAA, endColorStr=#EEEEEE)";
}

.cssButtonOver {
	padding: 2px;
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	background-color: #CCCCCC;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	filter:
		"progid:dximagetransform.microsoft.gradient(gradientType=0, 

startColorStr=#EEEEEE, endColorStr=#AAAAAA)";
}

.cssButtonDown {
	padding: 2px;
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	background-color: #AAAAAA;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	filter:
		"progid:dximagetransform.microsoft.gradient(gradientType=0, 

startColorStr=#CCCCCC, endColorStr=#888888)";
}

.cssButtonDisabled {
	padding: 2px;
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: #666666;
	background-color: #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	filter:
		"progid:dximagetransform.microsoft.gradient(gradientType=0, 

startColorStr=#888888, endColorStr=#CCCCCC)";
}

.stretchTitle,.stretchTitleOver {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.stretchTitleDown {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding-left: 1px;
	padding-top: 2px;
}

.stretchTitleDisabled {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
}

.explorerTabTitle,.explorerTabTitleDown {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	padding-top: 3px;
}

.explorerTabTitleOver {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	padding-top: 3px;
}

.explorerTabTitleDisabled {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: #666666;
	padding-top: 3px;
}

.explorerTabTitleSelected,.explorerTabTitleSelectedDown {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 2px;
}

.explorerTabTitleSelectedOver {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 2px;
}

.explorerTabTitleSelectedDisabled {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: bold;
	padding-bottom: 2px;
}

.exampleTabTitle,.exampleTabTitleSelected,.exampleTabTitleOver,.exampleTabTitleDown,.exampleTabT

itleSelectedOver,.exampleTabTitleSelectedDown,.exampleTabTitleDisabled,.exampleTabTitleSelectedD

isabled
	{
	font-family: Arial, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #DDDDDD;
	padding-right: 20px;
}

.exampleTabTitleSelected {
	color: #213D42;
}

.exampleTabTitleOver,.exampleTabTitleDown,.exampleTabTitleSelectedOver,.exampleTabTitleSelectedD

own
	{
	color: #00CCCC;
}

.exampleTabTitleDisabled,.exampleTabTitleSelectedDisabled {
	color: #666666;
}

.explorerExampleTitle {
	font-family: Bitstream Vera Sans, sans-serif;
	color: #ffffff;
	padding-left: 6px;
	background-color: #404080;
	font-size: 18px;
}

.explorerExampleDescription {
	font-family: Georgia, serif;
	font-size: 13px;
	padding: 6px;
}

.explorerTitlePageTitle {
	font-family: Bitstream Vera Sans, sans-serif;
	color: #ffffff;
	padding-left: 6px;
	background-color: #404080;
	font-size: 18px;
}

.explorerTitlePageDescription {
	font-family: Georgia, serif;
	font-size: 13px;
	padding: 6px;
}

.explorerFolderList {
	font-family: Georgia, serif;
	font-size: 13px;
	padding: 6px;
}

.explorerCheckErrorMessage {
	color: red;
	font-family: Georgia, serif;
	font-size: 13px;
}

.explorerSourceEditor {
	border: 1px solid #808080;
	padding: 10px;
	font-size: 12px;
	font-family: Lucida Console, Monaco, Bitstream Vera Sans Mono,
		sans-serif;
}

.explorerSourceViewer {
	padding: 10px;
	font-size: 12px;
	font-family: Lucida Console, Monaco, Bitstream Vera Sans Mono,
		sans-serif;
}

.explorerTree {
	border-top: 2px solid rgb(129, 141, 185);
}

.splitbarDown {
	border-left: 2px solid #606060;
	border-right: 2px solid #606060;
	background-color: #F0F0F0;
}

.examplePane {
	margin: 20px;
}

.jumpButton {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	border: 1px solid #F0F0F0;
}

.jumpButtonOver {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	border: 1px solid white;
	border-right-color: #808080;
	border-bottom-color: #808080;
}

.jumpButtonDown {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	border: 1px solid #808080;
	border-right-color: white;
	border-bottom-color: white;
}

.exampleDescCode {
	font-family: Bitstream Vera Sans Mono, Courier New, monospace;
	font-size: 14px;
	font-weight: bold;
}

.exampleTitle {
	font-family: Gill Sans MT, Bitstream Vera Sans, sans-serif;
	font-size: 22px;
}

.exampleText {
	font-family: Georgia, serif;
	font-size: 11px;
}

.exampleTextBlock {
	font-family: Georgia, serif;
	font-size: 11px;
	line-height: 16px;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

.exampleDropTitle {
	float: left;
	font-family: Gill Sans MT, Bitstream Vera Sans, sans-serif;
	font-size: 22px;
	line-height: 32px;
	color: #404040;
}

.interactImageHover {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	border: 1px solid #808080;
	padding: 5px;
	background-color: #b8d0ff;
	color: black;
}

.interactFormHover {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	border: 1px solid #ffffff;
	padding: 5px;
	background-color: #000000;
	color: #ffffff;
}

/*
grid cell styles sample
*/
.myBoxedGridCell,.myBoxedGridCellDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	background-color: #ffffff;
}

.myBoxedGridCellOver,.myBoxedGridCellOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	background-color: #c0ffc0;
}

.myBoxedGridCellSelected,.myBoxedGridCellSelectedDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: white;
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	background-color: #000080;
}

.myBoxedGridCellSelectedOver,.myBoxedGridCellSelectedOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: white;
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	background-color: #8080ff;
}

.myBoxedGridCellDisabled,.myBoxedGridCellDisabledDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: #808080;
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	background-color: #ffffff;
}

.myOtherGridCell,.myEvenGridCell,.myEvenGridCellDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	background-color: #ffffff;
}

.myOtherGridCellDark,.myOddGridCell,.myOddGridCellDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #f0f0e8;
	border-top: 1px solid #f0f0e8;
	background-color: #f0f0e8;
}

.myOtherGridCellOver,.myOtherGridCellOverDark,.myEvenGridCellOver,.myEvenGridCellOverDark,.myOdd

GridCellOver,.myOddGridCellOverDark
	{
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0d0c0;
	background-color: #ffffc0;
}

.myOtherGridCellSelected,.myOtherGridCellSelectedDark,.myEvenGridCellSelected,.myEvenGridCellSel

ectedDark,.myOddGridCellSelected,.myOddGridCellSelectedDark
	{
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #c0c0ff;
	border-top: 1px solid #c0c0ff;
	background-color: #c0c0ff;
}

.myOtherGridCellSelectedOver,.myOtherGridCellSelectedOverDark,.myEvenGridCellSelectedOver,.myEve

nGridCellSelectedOverDark,.myOddGridCellSelectedOver,.myOddGridCellSelectedOverDark
	{
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	background-color: #e0e0ff;
}

.myOtherGridCellDisabled,.myEvenGridCellDisabled,.myEvenGridCellDisabledDark
	{
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: #808080;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	background-color: #ffffff;
}

.myOtherGridCellDisabledDark,.myOddGridCellDisabled,.myOddGridCellDisabledDark
	{
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: #808080;
	border-bottom: 1px solid #f0f0e8;
	border-top: 1px solid #f0f0e8;
	background-color: #f0f0e8;
}

.simpleCell,.simpleCellSelected,.simpleCellOver,.simpleCellSelectedOver
	{
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: black;
}

.simpleCellDisabled {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	color: #808080;
}

/*
hilite cells replace
*/
.myHighGridCell,.myHighGridCellDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #ffc0c0;
	border-top: 1px solid #ffc0c0;
	background-color: #ffc0c0;
}

.myHighGridCellOver,.myHighGridCellOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	background-color: #ffe0e0;
}

.myHighGridCellSelected,.myHighGridCellSelectedDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #ffc0ff;
	border-top: 1px solid #ffc0ff;
	background-color: #ffc0ff;
}

.myHighGridCellSelectedOver,.myHighGridCellSelectedOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	background-color: #ffe0ff;
}

.myHighGridCellDisabled,.myHighGridCellDisabledDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: #808080;
	border-bottom: 1px solid #ffc0c0;
	border-top: 1px solid #ffc0c0;
	background-color: #ffc0c0;
}

.myLowGridCell,.myLowGridCellDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #c0ffc0;
	border-top: 1px solid #c0ffc0;
	background-color: #c0ffc0;
}

.myLowGridCellOver,.myLowGridCellOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	background-color: #e0ffe0;
}

.myLowGridCellSelected,.myLowGridCellSelectedDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #c0ffff;
	border-top: 1px solid #c0ffff;
	background-color: #c0ffff;
}

.myLowGridCellSelectedOver,.myLowGridCellSelectedOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	background-color: #e0ffff;
}

.myLowGridCellDisabled,.myLowGridCellDisabledDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: #808080;
	border-bottom: 1px solid #c0ffc0;
	border-top: 1px solid #c0ffc0;
	background-color: #c0ffc0;
}

/*calendar samples*/
.testStyle {
	font-size: 9px;
	background-color: #FA8072;
	border: 1px solid #004D99;
}

.testStyleHeader {
	font-size: 9px;
	color: white;
	background-color: #B22222;
}

.testStyleBody {
	font-size: 9px;
	background-color: #FA8072;
	padding: 3px;
}

.testStyleResizer {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

/* tree connectors sample */
.noBorderCell {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	background-color: #ffffff;
}

.noBorderCellDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	background-color: #f0f0f0;
}

.noBorderCellOver,.noBorderCellOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	background-color: #ffffc0;
}

.noBorderCellSelected,.noBorderCellSelectedDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	background-color: #b8d0ff;
}

.noBorderCellSelectedOver,.noBorderCellSelectedOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	background-color: #e0ebff;
}

.noBorderCellDisabled {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: #808080;
	background-color: #ffffff;
}

.noBorderCellDisabledDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: #808080;
	background-color: #f0f0e8;
}

/*filter tiling sample*/
.commonName,.commonNameOver,.commonNameSelected,.commonNameSelectedOver,.endangered,.threatened,

.notEndangered
	{
	font-size: 8pt;
}

.commonName,.commonNameOver,.commonNameSelected,.commonNameSelectedOver
	{
	color: darkblue;
	font-weight: bold;
}

.endangered {
	color: red;
	font-weight: bold;
}

.threatened {
	color: orange;
}

.notEndangered {
	color: green;
}

.lifeSpan,.lifeSpanOver,.lifeSpanSelected,.lifeSpanSelectedOver {
	color: green;
}

/*gwt  intergration */
.gwt-Reference-standard {
	height: 5px;
	width: 5px;
	zoom: 1;
}

.gwt-Button {
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	background: url("images/hborder.png") repeat-x 0px -27px;
	border: 1px outset #ccc;
}


.gwt-DecoratorPanel .topLeftInner,.gwt-DecoratorPanel .topRightInner,.gwt-DecoratorPanel 

.bottomLeftInner,.gwt-DecoratorPanel .bottomRightInner
	{
	width: 5px;
	height: 5px;
	zoom: 1;
}





.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
	cursor: default;
	background: #92c1f0;
}

.vpDotted {
	border: 1px dotted blue;
}

.thumbnail,.thumbnailOver,.thumbnailSelected,.thumbnailSelectedOver {
	border: 1px solid #CDCDCB;
}

.thumbnailTitle,.thumbnailTitleOver,.thumbnailTitleSelected,.thumbnailTitleSelectedOver
	{
	font-size: 9px;
	text-overflow: ellipsis;
}

.thumbnailTitleOver,.thumbnailTitleSelected,.thumbnailTitleSelectedOver
	{
	font-size: 9px;
	text-overflow: ellipsis;
	color: #336699;
}

.crm-NavigationPaneGridCell2 {
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	background-color: yellow;
}

.crm-NavigationPaneGridCell2Dark {
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	background-color: orange;
}

.crm-NavigationPaneGridCell2Over,.crm-NavigationPaneGridCell2OverDark {
	background: url(images/navigation_pane_gridcell_over.png) repeat-x
		bottom left scroll;
	border-top: 1px solid #ffb74c;
	border-bottom: 1px solid #ffb74c;
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.crm-NavigationPaneGridCell2Selected,.crm-NavigationPaneGridCell2SelectedDark
	{
	border-top: 1px solid #ffb74c;
	border-bottom: 1px solid #ffb74c;
	background-color: #ffe6a0;
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.crm-NavigationPaneGridCell2SelectedOver,.crm-NavigationPaneGridCell2SelectedOverDark
	{
	border-top: 1px solid #ffb74c;
	border-bottom: 1px solid #ffb74c;
	background-color: #ffe6a0;
	color: black;
	cursor: pointer;
	cursor: hand;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

.formStyle1 {
	background: url(images/navigation_pane_gridcell_over.png) repeat-x
		bottom left scroll;
	background-color: #ffe6a0;
	font-size: 11px;
}

.formStyle5 {
	border: 1px solid #270644;
	/*** Adding in CSS3 ***/ /*** Rounded Corners ***/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
	background: -moz-linear-gradient(19% 75% 90deg, #4E0085, #963AD6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6),
		to(#4E0085));
	/*** Shadow behind the box ***/
	-moz-box-shadow: 0px -5px 300px #270644;
	-webkit-box-shadow: 0px -5px 300px #270644;
}

.formStyle {
	background-color: #E6E6FA;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.formStyle4 {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #963AD6; /* Old browsers */
	background: -moz-linear-gradient(top, #FFEBCD 0%, #DEB887 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64c8ef),
		color-stop(100%, #DEB887)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFEBCD 0%, #DEB887 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFEBCD 0%, #DEB887 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFEBCD 0%, #DEB887 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #FFEBCD 0%, #DEB887 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr=#FFEBCD,
		endColorstr=#DEB887, GradientType=0); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.formStyle3 {
	padding: 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px
		rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.gridBodyStyle2 {
	background-image: url(/images2/bg2.png);
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 5px 5px;
	margin-right: 0;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.gridBodyStyle4 {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #8B82C3; /* Old browsers */
	background: -moz-linear-gradient(top, #FFA500 0%, #ACA9BF 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8B82C3),
		color-stop(100%, #ACA9BF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8B82C3 0%, #ACA9BF 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8B82C3 0%, #ACA9BF 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8B82C3 0%, #ACA9BF 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #8B82C3 0%, #ACA9BF 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr=#8B82C3,
		endColorstr=#ACA9BF, GradientType=0); /* IE6-9 */
	color: #fff;
	padding: 5px 5px;
	margin-right: 0;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

form4 {
	width: 250px;
	padding: 20px;
	border: 1px solid #270644;
	/*** Adding in CSS3 ***/ /*** Rounded Corners ***/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	/*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
	background: -moz-linear-gradient(19% 75% 90deg, #4E0085, #963AD6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6),
		to(#4E0085));
	/*** Shadow behind the box ***/
	-moz-box-shadow: 0px -5px 300px #270644;
	-webkit-box-shadow: 0px -5px 300px #270644;
}


.buttonCss3 {
	border: 1px solid #777777;
	background: #6e9e2d;
	color: white;
	font: bold 11px;
	padding: 4px;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}


    .myButtonCss1 {
        
        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), 

color-stop(1, #408c99));
        background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#599bb3, 

endColorstr=#408c99,GradientType=0);
        
        background-color:#599bb3;
        
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:18px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #3d768a;
        
    }
    .myButtonCss1Over {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), 

color-stop(1, #599bb3));
        background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#408c99, 

endColorstr=#599bb3,GradientType=0);
        
        background-color:#408c99;
    }
    .myButtonCss1Selected {
        position:relative;
        top:1px;
    }
    .myButtonCss2 {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc930), color-

stop(100%,#ffa403));
    background: -moz-linear-gradient(center top, #ffc930 0%, #ffa403 100%);
    -webkit-box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    -moz-box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #b27b0d;
    padding: 11px 15px;
    border-color: #e39304;
    border-width: 1px;
    border-style: solid;
    font-family: Helvetica;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.myButtonCss2Over {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc930), color-

stop(100%,#ffa403));
    background: -moz-linear-gradient(center top, #ffc930 0%, #ffa403 100%);
    -webkit-box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    -moz-box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #b27b0d;
    padding: 11px 15px;
    border-color: #e39304;
    border-width: 1px;
    border-style: solid;
    font-family: Helvetica;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd766), color-

stop(100%,#ffa403));
    background: -moz-linear-gradient(center top, #ffd766 0%, #ffa403 100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.myButtonCss2Down,.myButtonCss2SelectedDown {
display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc930), color-

stop(100%,#ffa403));
    background: -moz-linear-gradient(center top, #ffc930 0%, #ffa403 100%);
    -webkit-box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    -moz-box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    box-shadow: 1px 1px 2px #e6e6e6, 0.5px 1px #ffd96f inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #b27b0d;
    padding: 11px 15px;
    border-color: #e39304;
    border-width: 1px;
    border-style: solid;
    font-family: Helvetica;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 1px 1px #ffa403 inset;
    -moz-box-shadow: 1px 1px 1px 1px #ffa403 inset;
    box-shadow: 1px 1px 1px 1px #ffa403 inset;
}

.btnBlue,.btnBlueOver,.btnBlueDown,.btnBlueDisabled {
		/*display: block;* Commented out due to SVU 1648/ 
		/*TYPE*/
		color: white;
		font: 12px/25px Helvetica, Verdana, sans-serif;
		text-decoration: none;
		text-align: center;
		 background-size: 100%;
		/*GRADIENT*/
		background: #00b7ea; /* Old browsers */
		background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, 

#00b7ea),
			color-stop(100%, #009ec3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
		/* IE10+ */
		background: linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr=#00b7ea,
		endColorstr=#009ec3, GradientType=0); /* IE6-9 */
}
.btnBlueDisabled{
	 background-color: #e8e8e8;
  background-image: url("./images/cssButton/button_Disabled_stretch.png");
  background-repeat: repeat-x;
  background-image: url('data:image/svg

+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z

PSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM

+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjA

lIiB4Mj0iNTAlIiB5Mj0iMTAwJSI

+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0

iI2YwZjBmMCIvPjwvbGluZWFyR3JhZGllbnQ

+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8

+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddddff), color-

stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #ddddff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #ddddff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #ddddff 0%, #f0f0f0 100%);
  background-image: linear-gradient(top, #ddddff 0%, #f0f0f0 100%);
  border-bottom: 1px solid #b6bdc9;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
  border-top: 1px solid #bfbfbf;
  color:black;
}

.btnBlueDown  {
	top: 1px;
}

.btnBlueOver{
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #00b7ea),
		color-stop(100%, #009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
	/* IE10+ */
	background: linear-gradient(top, #00b7ea 36%, #009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr=#00b7ea,
		endColorstr=#009ec3, GradientType=0); /* IE6-9 */
}

/* New DashBoards */

.pnlDashboard{ 
	background-color: #F1F1F1 !important;
	background-size: 100%;
}

